{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="center">Register</h1>
<!--Begin col-->
<div class="column">
	

    

<form method = "POST" action="{% url 'register' %}">
    {% csrf_token %}
    username:
    <br/>
    <input type="text" name="username" />
    <br/>
    Password:
    <br/>
    <input type="password" name="password1" />
    <br/>
    confirm Password:
    <br/>
    <input type="password" name="password2" />
    <br/>
    <input class ="btn btn-primary" type="submit" value= "signup" />
    <br/>



</form>
		
</div>
<!--End col-->
{% endblock %}












